{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>About</h1>
</div>

<div>
    <h3>Inspiration</h3>
<h4>A few days back, <a href="https://www.susanjfowler.com/blog/2017/2/19/reflecting-on-one-very-strange-year-at-uber"> Susan J Fowler</a> shared a horrifying experience regarding workplace harassment at Uber. Who would have thought that Uber would have such a poor workplace environment for women.
    Susan ended up quitting Uber and transferring to Stripe. Women would be greatly benefited by a platform where they could rate and share their workplace harassment experiences -- so that other women could benefit from that and not join a company which has a poor culture.</h4>
</div>

<div>
    <h3>What it does</h3>
    <h4>Empower is an anonymous platform for women to rate and share their experiences. A news feed shows all the ratings and experiences shared recently. Users can select a specific company to pull up analytics on the ratings of that company. The reviews are all anonymous.</h4>
</div>

{% endblock %}
